[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
flake8 = "*"
pydocstyle = "*"

[packages]
pymed = "*"
pandas = "*"
faker = "*"
numpy = "*"
nltk = "*"
sklearn = "*"
streamlit = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
test = "./scripts/test.sh"
cover = "./scripts/cover.sh"
lint = "./scripts/lint.sh"
